<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejz.imageSelector">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.ImageSelectorActivity" />
        <activity android:name=".activity.ImagePreviewActivity"/>
    </application>

</manifest>
